<div class="jumbotron jumbotron-mod">
  <h1 class="display-4">MongoLines</h1>
  <p class="lead">Scraping today's headlines in Mongo fashion</p>
  <hr class="my-4">
</div>

<div class="container">

  <div class="modal fade" id="article-count-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Success!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{count}} articles were added!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="article-comment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="comment-modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="comment-body">Comment Body</label>
              <textarea type="text" class="form-control" id="comment-body"></textarea>
            </div>
            <div class="form-group">
              <label for="comment-author">Comment Author</label>
              <input type="text" class="form-control" id="comment-author">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="submit-comment" class="btn btn-primary">Comment</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
        <div class="modal-body comment-table">
            <h6>Comments</h6> 
          </div>
      </div>
    </div>
  </div>

  <div class="card-columns">
    {{#each data}}
    <div class="card">
      <img class="card-img-top" src={{photoUrl}}>
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{summary}}</p>
        <a href={{articleUrl}} class="btn btn-primary" target="_blank">Read</a>
        <button data-id="{{_id}}" class="delete-article btn btn-primary">Delete</button>
        <button data-id="{{_id}}" class="comment-article btn btn-primary" role="button">Comment</a>
      </div>
    </div>
    {{/each}}
  </div>

</div>

<script>
  $(document).ready(function () {

    {{!-- $("#article-count-modal").modal("show"); --}}

    var images = $(".card-img-top");

    for (var i = 0; i < images.length; i++) {
      if (images[i].width === 72) {
        $(images[i]).addClass("card-img-top-mod");
      };
    };

    $("body").on("click", ".delete-article" , function(){

      var id = $(this).attr("data-id");

      $.ajax({
        url: "/articles/delete",
        method: "DELETE",
        data: {
          data: id
        }
      }).then(function(response) {
        console.log(response);
        window.location.href = "/articles";
      })

    });

    $("body").on("click", ".comment-article" , function(){

      var id = $(this).attr("data-id");
      var articleTitle = $(this).siblings(".card-title").text();
      $(".comment-modal-title").text(articleTitle);

      $.ajax({
        url: "/articles/" + id,
        method: "get",
      }).then(function(response) {
        var commentArray = response.comments;
        comments = [];

        $.when(
          commentArray.forEach(function(comment){
            $.get("/comment/" + comment, function(data) {
              comments.push(data);
            })
          }
        )).then(function() {
          comments.forEach(function(comment) {
            var commentContainer = $("<div>").addClass("comment-container");
            var commentBody = $("<p>").text(comment.body);
            var commentAuthor = $("<small>").text("By: " + comment.createdBy);
            var commentDate = $("<small>").text(" @ " + comment.createdAt);
            var commentDelete = $("<i>").addClass("fas fa-trash-alt float-right").attr("data-id", comment._id);
            commentContainer.append(commentBody, commentAuthor, commentDate, commentDelete);
            $(".comment-table").append(commentContainer);
          })
        })

        $("#article-comment-modal").modal("show");
      })

    });

    $("body").on("click", "#submit-comment" , function(){

      var id = $(this).attr("data-id");
      var commentBody = $("#comment-body").val().trim();
      var commentAuthor = $("#comment-author").val().trim();
      
      $.ajax({
        url: "/comment/" + id,
        method: "POST",
        data: {
          data: id
        }
      }).then(function(response) {
        window.location.href = "/articles";
      })

    });

  })
</script>