<div class="jumbotron jumbotron-mod">
  <h1 class="display-4">MongoLines</h1>
  <p class="lead">Scraping today's headlines in Mongo fashion</p>
  <small>Courtesy of <a href="https://www.newyorker.com/" alt="Link to The New Yorker" target="_blank">The New
      Yorker</a></small>
  <hr class="my-4">
</div>

<div class="container">

  <div class="modal fade" id="article-comment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="comment-modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="comment-body">Comment Body</label>
              <textarea type="text" class="form-control" id="comment-body"></textarea>
            </div>
            <div class="form-group">
              <label for="comment-author">Comment Author</label>
              <input type="text" class="form-control" id="comment-author">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="submit-comment" class="btn btn-primary">Comment</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
        <div class="modal-body comment-table">
          <h6>Comments</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="card-columns">
    {{#each data}}
    <div class="card">
      <img class="card-img-top" src={{photoUrl}}>
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{summary}}</p>
        <a href={{articleUrl}} class="btn btn-primary" target="_blank">Read</a>
        <button data-id="{{id}}" class="delete-article btn btn-primary">Delete</button>
        <button data-id="{{id}}" class="comment-article btn btn-primary" role="button">Comments</a>
      </div>
    </div>
    {{/each}}
  </div>

</div>